body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, red, blue);
    font-style: italic;
    font-size: 20px;
    padding-top: 5em;
}
.container{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 600px;
}
.btn{
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    
}
.sect{
    text-align: center;
}
.quote{
    color: white;
    font-size: 30px;
}
.author{
    color: gold;
    font-weight: bolder;
    font-size: 25px;
}